body{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 1fr 5fr;
}

/* aside */
aside{
    background-color: hsl(202, 78%, 47%);
    grid-area: 1 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    padding: 8px;
}
aside > * {
    filter: invert(1);
}
aside p{
    font-weight: bold;
    padding-inline: 8px;
}
.logo{
    display: flex;
}
.logo > img {
    width: 40px;
}
.logo > p {
    font-size: 1.5rem;
}

.icon{
    width: 40px;
    border: 2px solid red;
}

/* header */
header{
    background-color: hsl(0, 0%, 100%);
    grid-area: 1 / 2 / 2 / 3;
}

/* main */
main{
    background-color: hsl(214, 32%, 91%);
    /* grid-area: 2 / 2 / 3 / 3; <- works even wothout this*/
}