body{
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 1fr 5fr;
}
:root{
    --blue: hsl(202, 78%, 47%);
    --white: hsl(0, 0%, 100%);
    --gray: hsl(214, 32%, 95%);
    --darkGray: hsl(214, 32%, 20%);
}

/* aside */
aside{
    background-color: var(--blue);
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    grid-template-rows: repeat(10, auto) 1fr;
    grid-template-columns: 25% 1fr;
    font-weight: bold;
    padding: 8px;
    align-items: center;
    row-gap: 16px;
}
aside > * {
    filter: invert(1);
}
aside > a {
    align-self: center;
    cursor: pointer;
    text-decoration: none;
}
aside > a:visited {
    color: inherit;
}
.bottom-space{
    padding-bottom: 32px;
}
aside > img{
    margin-inline: auto; 
}
aside > img.dashboard-icon{
    width: 35px;
}
aside > img:not(.dashboard-icon){
    width: 20px;
}
aside > p.bottom-space{
    font-size: 1.2rem;
}


/* header */
header{
    background-color: var(--white);
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 11fr 7fr;
    box-shadow: 1px 1px 5px lightgray;
    z-index: 1;
    
}
.search-bar{
    display: flex;
    padding-left: 64px;
    align-items: center;
    gap: 8px;
}
.search-bar > img{
    width: 20px;
}
.search-bar > input{
    width: 90%;
    height: 30px;
    border-radius: 50px;
    border: none;
    background-color: var(--gray);
    padding: 8px;
}
.search-bar > input:focus{
    outline: none;
}
.buttons-container{
    display: flex;
    justify-content: end;
    padding-right: 64px;
    gap: 32px;
    align-items: center;
}
.buttons-container > button{
    aspect-ratio: 3 / 1;
    height: 32px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    color: var(--white);
    background-color: var(--blue);
    font-size: .8rem;
    font-weight: bold;
}
.account-container{
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 64px;
    gap: 32px;
}
.account-container > img {
    aspect-ratio: 1 / 1;
    border-radius: 500px;
    cursor: pointer;
    &[alt="bell"]{
        height: 20px;
    }
    &[alt="avatar_cap"]{
        height: 40px;
    }
}
.account-container > p {
    font-weight: bold;
}
.hero-section{
    display: grid;
    grid-template-rows: 2fr 3fr;
    grid-template-columns: auto 1fr;
}
.hero-section > img {
    grid-area: 1 / 1 / 3 / 2;
    aspect-ratio: 1 / 1;
    border-radius: 500px;
    height: 64px;
    align-self: center;
    margin-left: 64px;
    margin-block: 8px;
}
.hero-section > p {
    margin-left: 16px;
    align-self: center;
    font-weight: bold;
    &.greeting{
        font-size: .8rem;
        margin-bottom: 0;
    }
    &:not(.greeting){
        font-size: 1.2rem;
        margin-top: 0;      
    }
}
/* main */
main{
    background-color: var(--gray);
    /* grid-area: 2 / 2 / 3 / 3; <- works even wothout this*/
    padding: 32px 16px 64px 16px;
    display: grid;
    grid-template-columns: repeat(2, 4fr) 3fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 16px;
}
.incard-header{
    font-weight: bold;
    font-size: .9rem;
}
.incard-text{
    font-size: .8rem;
    color: var(--darkGray);
}
/* left-main */
.left-main{
    grid-area: 1 / 1 / 7 / 3;
}
/* right-main */
.right-main{
    grid-area: 1 / 3 / 7 / 4;
    gap: 16px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 32px 1fr);
}
.right-main > strong{
    align-self: flex-end;
}
.right-main > div{
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 1px 1px 5px lightgray;
    padding: 16px;
}
.anonuncements{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}
.anonuncements > div:not(:last-child) {
    border-bottom: 1px solid var(--gray);
}
.trending{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: auto 1fr;
}
.trending > img{
    aspect-ratio: 1 / 1;
    height: 40px;
    border-radius: 50px;
    align-self: center;
    margin-right: 16px;
}
.trending > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    & > *{
        margin: 2px;
    }
}
